<section class="example-blocks">
  <div class="container">
    <div class="block">
      <h2 class="block__title">Close/Open block</h2>
      <button class="block__btn btn-reset" type="button" aria-label="Открыть блок">
        Open block
      </button>
      <p class="block__content block-hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Distinctio, maiores nulla nesciunt labore optio minus
        quibusdam excepturi voluptate atque iusto eaque enim, quos
        consectetur aliquam quasi repellendus vel quis sequi.
      </p>
    </div>
  </div>
</section>
